# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
next-env.d.ts

# production
dist/

# env — never commit these
.env
.env.local
.env*.local
!.env.example

# testing
coverage/

# prisma
prisma/*.db
prisma/*.db-journal

# misc
.DS_Store
*.pem
.vercel
.idea/
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
